.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-blue-background-attendance-wall-business-simple-image_21809.jpg");
  background-size: cover;
}
.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  gap: 15px;
  background-color: rgb(0, 0, 0, 0.7);
  width: 300px;
  height: 250px;
  color: white;
  font-family: "sans-serif";
}
button {
  width: 150px;
  padding: 7px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
}
